@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
html,body {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
h3 {
    font-weight: bold;
}

h2.title {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: .3rem;
}

#results {
    height: 200px;
    border: 2px #000 solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
#to_validate {
    width: 100%;
    height: 400px;
}
#validate_result {
    margin-top: 20px;
}
